
.movies{
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: 150vh;
    background-image: url(../../../assets/IMG/fondo-violeta5.jpg) ; 
    color: black;

}

.movie h2{
    font-size: 1.2rem;
}
.movie img{
    border-radius:0.7rem;
    width: 200px;
}
.movies-resultado {
    margin-top: 3.5em;
    border-radius: 50%;
}

.peliculas {
    margin-top: 8em;
    justify-content: center;

}

.img-cajas {
    border-radius: 10%;
    border: cornsilk 3px solid;
    margin-right: 10px;


}


.h1 {
    display: flex;
    position: absolute;
    width: 400px;
    color: white;
    font-weight: bold;
    font-family: monospace;
    margin-top: 1em;
}

.movies-resultadoID{
    display: flex;
    justify-content: center;
    background-color: #2F416D;
    margin-top: 5em;

}


.img-resultadoID{
    display: flex;
    flex-wrap: wrap;
    border-radius: 10%;
    margin-top: 2em;
    margin-right: 15px;
     border: cornsilk 3px solid;
}