
.movies{
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: 80vh;
    background-color: #E5CFE5;
    color: black;
    margin-top: 5em;
    justify-content: center;

}

.movie h2{
    font-size: 1.2rem;
}
.movie img{
    border-radius:0.7rem;
    width: 200px;
}
.movies-resultado {
    margin-top: 3.5em;
    border-radius: 50%;
}

.peliculas {
    background-color: #E5CFE5;
    margin-top: 5em;
}

.img-cajas {
    border-radius: 10%;
    border: cornsilk 3px solid;
    margin-right: 10px;


}

.img-resultadoID {
    display: grid;
    flex-direction: row;
    background-color: #E5CFE5;
    margin-top: 8em;

}