
<app-header></app-header> 
<!--Buscador de películas-->

<div class="movies-resultado" *ngFor="let pelicula of MovieService.films">
    <p>{{pelicula.title}}</p>
    <a routerLink="/detail" routerLinkActive="active-link">
    <img width="200"height="288" (click)="MovieService.locateFilm(pelicula)"
        src="https://image.tmdb.org/t/p/w200/{{pelicula.poster_path}}" 
        alt="poster">
    </a>

</div>


<div class="movies"> 
    <div *ngFor="let pelicula of pelisMostrar" class="peliculas"> 
        <p>{{pelicula.title}}</p> 
        <a routerLink="/detail" routerLinkActive="active-link"> 
        <img width="200"height="288" (click)="MovieService.locateFilm(pelicula)"
            src="https://image.tmdb.org/t/p/w200/{{pelicula.poster_path}}" 
            alt="poster">
        </a>
    </div>
</div>



 
<!--
<a routerLink="" routerLinkActive="active-link"> 
    <button>Bienvenida</button>    
</a> -->