.container-general {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: black;
}


#video {
    display: flex;
    position: absolute;
    width: 100vw;
    height: 40vh;
    margin-top: 8em;
}

/* BOTONES  */



#boton-inicio-login {
    display: flex;
    position: absolute;   
    justify-content: center;
    width: 150px;
    height: 50px;
    margin-top: 25em;
    margin-left: 20em;
    background-color: #FFE0AC;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    border-radius: 10px;
}


#boton-inicio-register{
    display: flex;
    position: absolute;
    justify-content: center;
    width: 150px;
    height: 50px;
    margin-top: 25em;
    margin-left: 31em;
    background-color: #FFE0AC;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    border-radius: 10px;

}

#texto-inicio1 {
    display: flex;
    position: absolute;
    margin-top: 43em;
    margin-left: 33em;
    color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#texto-inicio2 {
    display: flex;
    position: absolute;
    margin-top: 43em;
    margin-left: 46em;
    color: whitesmoke;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


