
<div class="container-general">
   
     <iframe width="720" height="480" id="video" src="https://www.youtube.com/embed/BUX1SgEVNL0"  frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 


         <button  id="boton-inicio-login" routerLink="/login" routerLinkActive="active-link">Entra</button>
         <p id="texto-inicio1" >Inicia sesión</p>

         <button  id="boton-inicio-register" routerLink="/register" routerLinkActive="active-link">Regístrate</button>
         <p id="texto-inicio2" >¿Todavía no estás registrado?</p>
         
</div>
 


<!--
<div id="portada">
    <div class="inicio">
        <video id="video-inicio" width="600" height="400" loop>
            <source src="/mapflixFrontend/IMG/intro_logo_Mapflix.mp4" type="video/mp4">
        </video>
        <a class="vinculo" href="/display"><p>entra y hecha un vistazo</p></a>
    </div>
</div>
-->