
<div class="portada">
    <div class="container">
        <div id="video">
            <iframe width="720" height="480" src="https://www.youtube.com/embed/BUX1SgEVNL0" &autoplay=1 frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 
            </div>

        <a class="vinculo" href="/header"><p>entra y hecha un vistazo</p></a>
        
    </div> 
       
</div>


<!--
<div id="portada">
    <div class="inicio">
        <video id="video-inicio" width="600" height="400" loop>
            <source src="/mapflixFrontend/IMG/intro_logo_Mapflix.mp4" type="video/mp4">
        </video>
        <a class="vinculo" href="/display"><p>entra y hecha un vistazo</p></a>
    </div>
</div>
-->