.portada {
    background-color: black;

}
.container {
    width: 100%;
    height: 100vh;
    display: flex;

}

#video {
    display: flex;
    margin-top: 5em;
}

.vinculo {
    margin-top: 35em;
    margin-left: -25em;

}


