

<div class="contenedor-general" >
    <div>
        <input type="text" name="" id="buscador" placeholder="Escribe un título" (keyup)="buscaTitulo($event)">
        <button class="buttons" id="boton-busqueda-genero">por género</button>
        <button class="buttons" id="boton-alquiler"> Alquilar </button>
        <!--<button class="buttons" id="boton-user"> Usuario </button>-->
       <!-- <a [routerlink]="['/formulario']" [routerLinkActive]="['active']">Form</a> -->
        <img id="logo-cinta" src="../../../assets/IMG/logo_cinta_vhs_mapflix.png">
        <div class="guestZone" *ngIf="!getUser()">
            <li><a routerLink="/login" routerLinkActive="active-link">Login</a></li>
            <li><a routerLink="/signup" routerLinkActive="active-link">Signup</a></li>
        </div>
        <div class="loginUser" *ngIf="getUser() as user">
            <button class="buttons" id="boton-logeado" routerLink="/profile" routerLinkActive="active-link">{{user.name || user.email}}</button>
            <li><a (click)="logout()" routerLinkActive="active-link">logout</a></li>
       </div>

    </div>

</div>







