.contenedor-popular-movies{
    display: flex;
    width: 100vw;
    height: 80vh;
    background-image: url(../../../assets/IMG/fondo_violeta.jpg);

}

.movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100vw;
    margin-top: 7em;
    margin-right: -8em;
}


.peliculas {
    display: block;
    margin-top: 10px;
    margin-right: 3em;

}

.img-popular{
    height: 250px;
    margin-right: 6px;
    transition: 1s ease all;
    border-radius: 10%;
    border: cornsilk 2px solid;
    
}

.img-popular:hover{
    background-color: wheat;
}

.h1 {
    display: flex;
    position: absolute;
    width: 400px;
    color: white;
    font-weight: bold;
    font-family: monospace;
    margin-top: 1em;
    margin-right: -2em;
}