


<form class="contenedor-form-registro" #registerForm="ngForm" (submit)="register(registerForm)">
    <div class="contenedor-logo-registro">
        <ul class="lista-registro">
            <li class="lista-registro">Alquiler GRATUITO</li>
            <li class="lista-registro">Sin cuotas</li>
            <li class="lista-registro">Sin Compromiso</li>
            <li class="lista-registro">¡Únete!</li>
        </ul>
     </div>

    <img id="logo-mapflix-registro" src="../../../assets/IMG/logo_mapflix_2.png" alt="" width="800px" height="450px">


    <div class="alert alert-danger" *ngIf="errorMsg">{{errorMsg}}</div>
    <div class="form-registro">
        <input type="text" class="registro-nombre" name="name" ngModel placeholder="Introduce tu nombre" aria-describedby="emailHelp">
    </div>
    <div class="form-registro">
        <input type="email" email required class="registro-email" name="email" ngModel placeholder="Introduce tu email" required email aria-describedby="emailHelp">
        <div class="alert alert-danger" *ngIf="registerForm.submitted && registerForm.form.controls.email?.errors?.email"> El email no es válido</div>
    </div>
    <div class="form-registro">
        <input type="password" name="password" ngModel class="registro-password" required placeholder="Introduce tu contraseña">
    </div>
    <button type="submit" class="boton-submit-registro" routerLink="/filmslist" routerLinkActive="active-link">Submit</button>
</form>
{{registerForm.value | json}}